<ion-content [fullscreen]="true">
    <div class="container">
      <div class="image-container">
        <img src="assets/CITT_CONCEPCION_LOGO_NO_BG.webp" alt="Imagen">
      </div>
  
      <div class="botones">
        <ul>
          <li (click)="opcionSeleccionada">Talleres</li>
          <li (click)="opcionSeleccionada">Inscripcion</li>
          <li (click)="opcionSeleccionada">Mapa</li>
          <li (click)="opcionSeleccionada">Eventos</li>
          <li (click)="opcionSeleccionada">Proyectos</li>
        </ul>
      </div>
    </div>
  </ion-content>
  