<ion-content [fullscreen]="true">
  @if (loaded) {
    <main class="flex flex-col items-center justify-center px-8 py-6">
      <section class="flex flex-col items-center w-full max-w-lg">
        <h2 class="text-2xl">Track {{ data.nombre }}</h2>
        <img class="my-4 rounded-full aspect-square w-64 h-64 object-cover" src="{{ data.lider.imagen }}" alt="{{ data.lider.nombre }}">
        <div>
          <h3 class="text-2xl font-semibold text-center">{{ data.lider.nombre }}</h3>
          <h4 class="text-stone-400 text-xl text-center">{{ data.lider.carrera }}</h4>
        </div>
      </section>
      <div class="self-center w-1/4 bg-stone-600 h-[1px] my-6"></div>
      <p class="text-stone-400 max-w-lg self-center">{{ data.descripcion }}</p>
      <div class="self-center w-1/4 bg-stone-600 h-[1px] my-6"></div>
      <section class="w-full max-w-lg">
        <h4 class="text-xl font-semibold">Objetivos del Track</h4>
      </section>
    </main>
  } @else {
    <main class="flex flex-col items-center justify-center px-8 py-6">
      <section class="flex flex-col items-center w-full max-w-lg">
        <div class="h-6 w-64 rounded-md animate-pulse bg-stone-900"></div>
        <div class="animate-pulse bg-stone-900 my-4 rounded-full w-64 h-64"></div>
        <div class="flex flex-col items-center justify-center">
          <div class="my-2 h-4 w-48 rounded-md animate-pulse bg-stone-900"></div>
          <div class="my-2 h-4 w-40 rounded-md animate-pulse bg-stone-900"></div>
        </div>
      </section>
      <div class="self-center w-1/4 bg-stone-600 h-[1px] my-6"></div>
      <div class="w-full max-w-lg h-32 rounded-md animate-pulse bg-stone-900 self-center"></div>
      <div class="self-center w-1/4 bg-stone-600 h-[1px] my-6"></div>
      <section class="w-full max-w-lg">
        <div class="h-4 w-40 rounded-md animate-pulse bg-stone-900"></div>
      </section>
    </main>
  }
</ion-content>
